@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.principal {
    font-family: Inter;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    /* border: 1px solid black;  */
}

/*  ------------------------------------ TITULOS -----------------------------------------------*/
.titulos {
    display: flex;
    align-items: center;
    
    gap: 20px;
    margin-bottom: 50px;
}

.sintomas-titulo {
    display: flex;
    align-items: center;
    
    gap: 20px;
    margin-left: -40px;
    margin-bottom: 50px;
}

.txtTitulos{
    font-size: 32px;
}

.traco {
    width: 35px;
    background-color: #08678C;
    border: 2px solid #08678C;
    border-radius: 2px;
    margin-left: 5px;
}

/*--------------------------------- NAV BAR --------------------------------------------------------*/
.navbar {
    position: fixed;
    z-index: 5;
    top: 0;         
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    height: 75px;
    padding: 16px 0px;
    box-shadow: 0px 4px 9px rgb(0, 0, 0, 0.1), 0px 6px 16px rgb(0, 0, 0, 0.09), 0px 20px 21px rgb(0, 0, 0, 0.05);
    transition: all 0.75s ease;
}

.navbar-container {
    max-width: 1325px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.75s ease;
}

.logo-link {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    color: #011125;
}

.nav-logo {
    width: 175px;
    margin-bottom: 17.5px;
}

.nav-menu {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    transition: all 0.3s ease;
}

.nav-link {
    transition: all 0.3s ease;
    color: #011125;
    text-decoration: none;
    font-family: "Inter";
    font-weight: 500;
    font-size: 22px;
}

.nav-link:hover {
    color: #08678C;
}

.nav-item:hover {
    transform: translateY(-2.5px)
}

.navbar.scrolled {
    height: 50px;
}

.navbar-container.scrolled {
    height: 100%;
}

.menu-mobile {
    display: none;
    cursor: pointer;
    background-color: #011126;
    padding: 6px 2px;
    border-radius: 10%;
}

.menu-mobile div {
    width: 32px;
    height: 2px;
    background-color: #FFFFFF;
    margin: 8px;
    transition: 0.3s;
}

.nav-menu.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
  
.menu-mobile.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.menu-mobile.active .line2 {
    opacity: 0;
}
  
.menu-mobile.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*--------------------------------- HERO SECTION ----------------------------------------------------------*/

.hero-wrapper {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 2000px;
    background-color: #011126;
}

.hero {
    height: 870px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom-left-radius: 175px;
    display: flex;
    justify-content: center;
}

.hero-container {
    margin-top: 150px;
    width: 68dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-texto {
    height: fit-content;
}

.hero-logo {
    margin-left: -5px;
    width: 500px;
}

.hero-txt-branco {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-style: italic;
    font-size: 19px;
}

.hero-txt-azul {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-style: italic;
    font-size: 19px;
    color: #08678C;
}

.hero-boneca {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 720px;
    width: 30%;
}

.hero-forma {
    position: relative;
    top: 11%;
}

.hero-luna {
    position: absolute;
    top: 3%;
    left: 11%;
}

/*------------------------------ SOBRE O LUMINOUS -----------------------------------------------------*/

.sobre {
    padding: 10px;
    margin-bottom: 150px;
    margin-top: 100px;
}

.sobre-txtTitulos {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 600;
}

/*  -------- AREA SOBRE A EMPRESA ----------------------------------------------------*/

.sobre-texto-container {
    margin-left: 65px;
    margin-right: 65px;
}

.sobre-txt {
    color: #FFFFFF;
    font-size: 30px;
    font-style: italic;
    font-weight: 325;
    margin: 0;
}

.sobre-andar-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
}

.sobre-texto-1 {
    width: 43%;
}

.sobre-imagem-1 {
    display: flex;
    justify-content: center;
    width: 37.5%;
    border-radius: 15px;
    background-color: #FFFFFF;
    height: 300px;
    margin-right: 100px;
}

.sobre-imagem-1 img {
    width: 400px;
    margin-bottom: 50px;
}

.sobre-andar-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 250px;
}

.sobre-imagem-2 {
    margin-left: 15px;
}

.sobre-texto-2 {
    width: 47.5%;
    margin-right: 35px;
}

/*  -------- GRID TIME ---------------------------------------------------------------*/

.grid-equipe{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5px;
}

.grid-1 {
    grid-row: 1 / span 2;
    background-color: #011125;
    height: 100%;
    aspect-ratio: 1/1;
}

.grid-1 p {
    margin: 80px;
    margin-bottom: 50px;
    padding: 0;
    font-size: 150px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.grid-1 h3 {
    margin-left: 80px;
    color: white;
    font-size: 30px;
}

.grids {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.fotos-equipe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-luna {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-luna img {
    width: 75%;
}

/*  -------- OVERLAY FOTOS ---------------------------------------------------------------*/

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 17, 37, 0.66);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.4s ease;
}
  
.grids:hover .overlay {
    height: 100%;
}
  
.overlay-texto {
    position: absolute;
    overflow: hidden;
    white-space: nowrap; 
    color: white;
    top: 77.5%;
    left: 44%;
    transform: translate(-50%, -50%);
}

.overlay-texto h1 {
    margin: 0;
    font-size: 36px;
}

.overlay-texto p {
    margin: 0;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 22px;
    font-weight: 275;
}


/*----------------------------------- SEÇÂO LUNA -------------------------------------------*/
.oq-somos {
    padding: 10px;
    margin-bottom: 150px;
    margin-right: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.oq-somos-texto {
    width: 50%;
}

.oq-somos-txt {
    margin-top: 0px;
    margin-left: 5px;
    text-justify: auto;
    width: 77%;
    font-size: 29px;
    font-style: italic;
    font-weight: 300;
}

.oq-somos-carrossel {
    width: 500px;
    position: relative;
}

/* Estilos do Carrossel */
.carrossel-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.cards-carrossel {
    position: relative;
    width: 100%;
    height: 450px;
}

.carrossel-card {
    position: absolute;
    width: 65%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .4s ease;
    opacity: 0;
    z-index: 1;
}

.carrossel-card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    box-shadow: 0px 4px 9px rgb(0, 0, 0, 0.7), 0px 6px 16px rgb(0, 0, 0, 0.4), 0px 20px 21px rgb(0, 0, 0, 0.25);
}

.carrossel-card.active {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 3;
}

.carrossel-card.next {
    transform: translateX(80px) scale(0.9);
    opacity: 0.6;
    z-index: 2;
}

.seta {
    width: 27.5px;
}

.next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #011126;
    color: white;
    border: none;
    padding: 24px 24px;
    cursor: pointer;
    font-size: 32px;
    transition: all 0.3s;
    position: absolute;
    right: -90px;
    z-index: 4;
}

.next-btn:hover {
    transform: scale(1.1);
    background: #011126;
}


/*--------------------------------- HIPERFOCO ----------------------------------------------------------*/

.hiperfoco {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.titulo-hiperfoco {
    font-family: "Inter";
    font-size: 43px;
    color: #011126;
    margin-bottom: 50px;
}

.hiperfoco-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86%;
    aspect-ratio: 1200/460;
    background-color: #011125;
    border-radius: 15px;
    gap: 40px;
    padding: 20px;
}

.slider-imagens {
    width: 45%;
    height: 375px;
    overflow: hidden;
    border-radius: 10px;
    flex-shrink: 0;
    margin-left: 35px;
}

.slider-wrapper {
    display: flex;
    width: 200%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider-imagens img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.hiperfoco-texto-container {
    width: 50%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.textos-wrapper {
    display: flex;
    width: 200%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.card-textos {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.hiperfoco-texto-cards {
    margin-top: 0px;
    margin-left: 5px;
    width: 80%;
    font-size: 31px;
    font-style: italic;
    font-weight: 325;
    color: #FFFFFF;
}

.slider-button.prev {
    left: 20px;
    right: auto;
}

.slider-button.next {
    right: 20px;
    left: auto;
}

.botoes-container {
    position: absolute;
    right: 35px;
    bottom: 25px;
    display: flex;
    gap: 10px;
    z-index: 2;
}

.slider-button {
    background: #FFFFFF;
    color: white;
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    margin: 0;
}

.slider-button:hover {
    transform: scale(1.1);
}

.slider-button:disabled {
    opacity: 0.4;
    cursor: auto;
  }

.hiperfoco-seta {
    width: 24px;
}

.hiperfoco-seta.invertida {
    transform: rotateY(180deg);
}
/*----------------------------------------- TDAH ------------------------------------------------------*/

.tdah {
    padding: 10px;
    margin-bottom: 125px;
}

.tdah-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tdah-texto {
    width: 45%;
}

.tdah-txt {
    margin-top: 0px;
    width: 85%;
    font-size: 29px;
    font-style: italic;
    font-weight: 300;
}

.tdah-carrossel {
    width: 55%;
    overflow: hidden;
}

.tdah-carrossel-conteiner {
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
    user-select: none;
    will-change: transform;
    backface-visibility: hidden;
}

.tdah-cards {
    flex-shrink: 0;
    margin: 0 15px;
    width: 275px;
    height: 330px;
    box-shadow: 0px 4px 9px rgb(0, 0, 0, 0.4), 0px 6px 10px rgb(0, 0, 0, 0.2)
}

.tdah-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: brightness(80%);
}
/*--------------------------------- PRINCIPAIS SINTOMAS ----------------------------------------------*/

.principais-sintomas {
    padding: 40px;
    margin-bottom: 100px;
}

.sintomas-wrapper {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.sintoma-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 70px;
    padding-right: 70px;
    grid-column: 1; grid-row: 1; 
    height: 300px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.sintoma-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 70px;
    padding-right: 70px;
    grid-column: 2; grid-row: 1;
    height: 300px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid white;
}    
.sintoma-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    grid-column: 1 / -1;
    grid-row: 2;
    margin: 0 auto;
    height: 300px;
    width: 50%;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.titulo-sintomas {
    margin-left: 10px;
    font-size: 30px;
}

.sintomas-txt {
    margin-top: 0px;
    margin-left: 10px;
    text-justify: auto;
    width: 77%;
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
}

.sintomas-titulo-3 {
    font-size: 26px;
    margin-left: 75px;
}

.sintomas-txt-3 {
    margin-top: 0px;
    margin-left: 75px;
    text-justify: distribute;
    width: 77%;
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
}
/*  -------- DETALHES BORDAS -------------------------------------------------------------*/

.bolinha {
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: white;
    border: 3px solid #08678C;
    border-radius: 50%;
}


.bolinha-topo-meio {
    position: absolute;
    top: 50%;
    left: 50%;
}

.bolinha-topo-esquerda {
    position: absolute;
    top: 50%;
    left: 25%;
}

.bolinha-topo-direita {
    position: absolute;
    top: 50%;
    right: 23%;
}

.bolinha-esquerda {
    position: absolute;
    top: 50%;
    left: 0;
}

.bolinha-direita {
    position: absolute;
    top: 50%;
    right: -1.75%;
}

.pontinha {
    position: absolute;
    top: 0;      
    height: 2px; 
    background: black;
}
  
.cima-esquerda {
    left: -2px;
    transform: translate(0, -100%); 
    width: 25px;  
}
  
.cima-direita {
    right: 0;
    transform: translate(0, 0); 
    width: 25px;
}

.pontinha-embaixo {
    position: absolute;
    bottom: 0;      
    height: 2px; 
    background: black;
}

.baixo-esquerda {
    bottom: -3px;
    left: -2px;
    transform: translate(0, -100%); 
    width: 25px;  
}
  
.baixo-direita {
    right: 0;
    transform: translate(0, 0); 
    width: 25px;
}

/*--------------------------------- HIPERFOCO NO TDAH -------------------------------------------------*/
.hiper-tdah {
    padding: 10px;
    margin-bottom: 200px;
}

.hiper-tdah-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hiper-tdah-imagens {
    position: relative;
    width: 36%;
    aspect-ratio: 500/560 ;
    margin: 75px;
    margin-bottom: 0px;
}

.hiper-tdah-img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 43%;
}

.hiper-tdah-img2 {
    position: absolute;
    top: 65px;
    left: 45px;
    width: 80%;
}

.hiper-tdah-img3 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 39%;
}

.hiper-tdah-img4 {
    position: absolute;
    bottom: -9%;
    right: 36%;
    width: 40%;
}

.hiper-tdah-texto {
    margin-top: 100px;
    margin-left: 40px;
    width: 40%;
}

.hiper-tdah-txt {
    margin-top: 0px;
    margin-left: 5px;
    width: 84%;
    font-size: 31px;
    font-style: italic;
    font-weight: 300;
}

/*------------------------------- SEÇÂO CARACTERITICAS ------------------------------------------------*/
.caracteristicas {
    padding: 10px;
    margin-bottom: 75px;
}

/*  -------- CARDS -----------------------------------------------------------------------*/
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.card {
    width: 29%;
    z-index: 1;
    aspect-ratio: 400/260;
    margin: 15px;
    margin-bottom: 60px;
    box-shadow: 0px 4px 9px rgb(0, 90, 99, 0.1), 0px 16px 16px rgb(0, 90, 99, 0.09), 0px 36px 21px rgb(0, 90, 99, 0.05);
}

.titulo-card {
    font-size: 36px;
    font-weight: 700;
    color: #011125;
    
    padding-left: 50px;
    padding-top: 15px ;
}

.txt-card {
    font-size: 18px;
    font-style: italic;
    padding-left: 50px;
    padding-right: 80px;
}


/*  -------- CARDS HOVER ---------------------------------------------------------------*/
.card:hover {
    transition: 0.75s;
    background-color: #011125;
}

.card:hover .titulo-card,
.card:hover .txt-card {
    transition: 0.5s;
    color: #ffffff;
}

/*----------------------------------- FOOTER -----------------------------------------------------*/

.footer {
    width: 100%;
    height: 275px;
    background-color: #011125;
    display: flex;
    align-items: end;
    justify-content: center;
}

.footer-wrapper {
    padding: 0;
    margin: 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    
}

/*  -------- LOGO -------------------------------------------------------------*/


.contatos-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer {
    margin: 0;
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo-footer img {
    width: 285px;
}

/*  -------- EMAIL-CONTATOS --------------------------------------------------------*/

.email-div {
    margin: 0;
    width: 235px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email p {
    margin: 0;
    font-family: "Inter";
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 2px;
    width: 100%;
}

.contatos-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/*  -------- BARRA-COPYRIGHT -------------------------------------------------------*/

.barra-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-baixo {
    margin-top: 35px;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}

.copyright {
    font-family: "Inter";
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}


/*----------------------------------- MEDIA QUERIES -----------------------------------------------------*/


@media only screen and (min-width: 1981px) {

    .principal {
        max-width: 73vw;
    }
}



@media only screen and (min-width: 2559px) {

    .txtTitulos {
        font-size: 46px;
    }

    .traco {
        height: 6px;
    }

    /*------------------- NAV ---------------------------*/
    .navbar {
        height: 100px;
        padding: 23px 0px;
    }

    .navbar-container {
        max-width: 73%;
    }

    .nav-logo {
        width: 250px;
    }

    .nav-menu {
        gap: 48px;
    }

    .nav-link {
        font-size: 34px;
    }

    .navbar.scrolled {
        height: 75px;
    }

    .hero-wrapper {
        height: 2300px;
    }


    /*------------------- HERO ---------------------------*/

    .hero {
        height: 1250px;
    }

    .hero-logo {
        width: 750px;
    }

    .hero-txt-azul, .hero-txt-branco {
        font-size: 28px;
    }

    .hero-forma {
        width: 550px;
        top: 15%;
    }

    .hero-luna {
        width: 572px;
        top: -18%;
    }


    /*---------------- HIPERFOCO ------------------------*/

    .slider-imagens {
        height: 525px;
    }

    .hiperfoco-texto-container {
        height: 525px;
    }

    .hiperfoco-texto-cards {
        font-size: 47px;
    }

    .slider-button {
        width: 75px;
        height: 75px;
    }

    .slider-button img {
        width: 32px;
    }


    /*------------------- TDAH ---------------------------*/

    .tdah-txt {
        font-size: 41px;
    }

    .tdah-cards {
        width: 350px;
        height: 420px;
    }


    /*----------------- SINTOMAS -------------------------*/

    .sintoma-1, .sintoma-2, .sintoma-3 {
        height: 400px;
    }

    .titulo-sintomas {
        font-size: 38px;
    }

    .sintomas-txt {
        font-size: 38px;
    }

    .sintomas-titulo-3 {
        margin-left: 85px;
        font-size: 38px;
    }

    .sintomas-txt-3 {
        margin-left: 85px;
        font-size: 38px;
    }

    .bolinha {
        width: 27.5px;
        height: 27.5px;
        border: 4px solid #08678C;
    }


    /*-------------- HIPERFOCO NO TDAH -----------------*/

    .hiper-tdah-txt {
        font-size: 42px;
    }


    /*---------------- CARACTERISTICAS -----------------*/

    .titulo-card {
        padding-left: 70px;
        font-size: 48px;
    }

    .txt-card {
        padding-left: 70px;
        font-size: 26px;
    }


    /*--------------------- SOBRE ----------------------*/
    
    .grid-1 p {
        font-size: 220px;
    }

    .grid-1 h3 {
        font-size: 43px;
    }

    /*------------------- OQ SOMOS --------------------*/

    .oq-somos-txt {
        font-size: 44px;
    }

    .oq-somos-carrossel {
        width: 667px;
    }

    .cards-carrossel {
        height: 600px;
    }

    .next-btn {
        padding: 40px 40px;
    }

    .seta {
        width: 40px;
    }


    /*-------------------- FOOTER ---------------------*/

    .footer {
        height: 367px;
    }

    .logo-footer img {
        width: 380px;
    }

    .email-div {
        margin-right: 45px;
        height: 167px;
    }

    .email {
        width: 313px;
    }

    .email img {
        height: 73px;
    }

    .email p {
        font-size: 36px;
    }

    .contatos-logos {
        width: 320px;
    }

    .contatos-logos img {
        height: 60px;
    }

    .barra-baixo {
        height: 2px;
    }

    .copyright {
        font-size: 24px;
    }

}


@media only screen and (max-width: 1024px) {

    .titulos {
        margin-bottom: 25px;
    }

    .txtTitulos {
        font-size: 26px;
    }

    .principal {
        max-width: 97.5vw;
    }

    /*------------------- NAV ---------------------------*/
    .navbar {
        height: 50px;
    }

    .navbar-container {
        max-width: 95%;
    }

    .nav-logo {
        width: 150px;
    }

    .nav-menu {
        gap: 22px;
    }

    .nav-link {
        font-size: 19px;
    }

    .navbar.scrolled {
        height: 37.5px;
    }


    /*------------------- HERO ---------------------------*/
    .hero {
        height: 686px;
    }

    .hero-texto {
        margin-left: 10px;
    }

    .hero-logo {
        width: 365px;
    }

    .hero-txt-azul, .hero-txt-branco {
        font-size: 14px;
    }

    .hero-boneca {
        margin-right: 10px;
    }

    .hero-forma {
        width: 285px;
        top: 9.5%;
    }

    .hero-luna {
        width: 300px;
        top: 16%;
        left: 11%;
    }   

    .hero-wrapper {
        height: 1385px;
    }

    .hero-container {
        width: 90%;
    }

    /*----------------- HIPERFOCO ----------------------*/
    .hiperfoco {
        margin-bottom: 135px;
    }

    .titulo-hiperfoco {
        margin-top: 100px;
        font-size: 34px;
    }

    .hiperfoco-container {
        gap: 45px;
    }

    .slider-imagens {
        height: 340px;
    }

    .hiperfoco-texto-cards {
        font-size: 25px;
    }

    .slider-button {
        width: 45px;
        height: 45px;
    }

    .hiperfoco-seta {
        width: 22px;
    }


    /*----------------- TDAH ----------------------*/
    .tdah-txt {
        font-size: 27px;
    }

    .tdah-cards {
        width: 225px;
        height: 275px;
    }


    /*----------------- SINTOMAS ----------------------*/
    .principais-sintomas {
        margin-bottom: 30px;
    }

    .sintoma-1, .sintoma-2, .sintoma-3 {
        height: 250px;
    }

    .titulo-sintomas, .sintomas-titulo-3 {
        font-size: 24px;
    }

    .sintomas-txt, .sintomas-txt-3 {
        font-size: 22px;
    }


    /*------------ HIPERFOCO NO TDAH -----------------*/
    .hiper-tdah {
        margin-bottom: 150px;
    }

    .hiper-tdah-txt {
        font-size: 25px;
    }


    /*------------- CARACTERISTICAS ------------------*/
    .titulo-card {
        font-size: 30px;
        padding-top: 0px;
        margin-bottom: 5px;
    }

    .txt-card {
        font-size: 16px;
        padding-right: 45px;
    }


    /*------------------ SOBRE -----------------------*/
    .grid-1 p {
        margin: 50px;
        margin-bottom: 30px;
        font-size: 110px;
    }

    .grid-1 h3 {
        margin-left: 50px;
        font-size: 24px;
    }

    .overlay-texto {
        left: 50%;
    }

    .overlay-texto h1 {
        font-size: 24px;
    }

    .overlay-texto p {
        font-size: 20px;
    }


    /*---------------- OQ SOMOS ---------------------*/
    .oq-somos-txt {
        font-size: 25px;
    }

    .oq-somos-carrossel {
        width: 430px;
        margin-right: 25px;
    }

    .cards-carrossel {
        height: 400px;
    }

    .next-btn {
        padding: 24px 24px;
    }

    .seta {
        width: 24px;
    }


    /*----------------- FOOTER ----------------------*/
    .footer {
        height: 225px;
    }

    .footer-wrapper {
        width: 70%;
    }

    .logo-footer img {
        width: 200px;
    }

    .email-div {
        width: 175px;
        height: 90px;
    }

    .email img {
        width: 40px;
    }

    .email p {
        font-size: 16px;
    }

    .contatos-logos img {
        width: 35px;
    }

    .copyright {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {

    .titulos {
        margin-bottom: 0px;
    }

    .txtTitulos {
        font-size: 30px;
    }

    /*------------ MENU HAMBURGER -----------------*/
    body {
        overflow-x: hidden;
    }

    .nav-menu {
        z-index: 1;
        position: absolute;
        top: 82px;
        right: 0;
        width: 45vw;
        height: 280px;
        background: #FFFFFF;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 30px;
        gap: 40px;
        transform: translateX(100%);
        transition: all 0.3s ease-in;
        box-shadow: 0px 4px 9px rgb(0, 0, 0, 0.1), 0px 6px 16px rgb(0, 0, 0, 0.09), 0px 20px 21px rgb(0, 0, 0, 0.05);
    }

    .nav-link {
        font-size: 25px;
    }

    .navbar.scrolled .nav-menu {
        top: 69px; 
    }

    .nav-menu li {
        margin-left: 0;
        opacity: 0;
    }

    .menu-mobile {
        display: block;
    }

    /*------------------- HERO --------------------*/
    .hero-logo {
        width: 330px;
    }

    .hero-txt-azul, .hero-txt-branco {
        font-size: 13px;
    }

    .hero-boneca {
        margin-right: 15px;
    }

    .hero-forma {
        width: 250px;
        top: 8%;
    }

    .hero-luna {
        width: 280px;
        top: 17%;
        left: 2%;
    }  

    .hero-wrapper {
        height: 1725px;
    }


    /*----------------- HIPERFOCO ----------------------*/
    .hiperfoco-container {
        flex-direction: column;
        padding: 50px 0px;
        gap: 35px;
    }

    .slider-imagens {
        margin: 0;
        width: 75%;
    }

    .hiperfoco-texto-container {
        width: 75%;
        height: auto;
    }

    .hiperfoco-texto-cards {
        width: 95%;
    }


    /*-------------------- TDAH ----------------------*/
    .tdah-container {
        flex-direction: column;
        gap: 40px;
    }

    .tdah-texto {
        width: 80%;
    }

    .tdah-txt {
        width: 100%;
    }

    .tdah-carrossel {
        width: 80%;
    }


    /*---------------- SINTOMAS ---------------------*/
    .sintoma-1, .sintoma-2 {
        height: 300px;
        padding: 0px 40px;
    }

    .sintoma-3 {
        height: 300px;
        padding: 15px;
    }

    .titulo-sintomas, .sintomas-titulo-3 {
        font-size: 24px;
    }
    
    .sintomas-txt {
        font-size: 22px;
        width: 95%;
    }

    .sintomas-txt-3 {
        width: 80%;
    }

    .sintomas-titulo-3, .sintomas-txt-3 {
        margin-left: 40px;
        margin-right: 40px;
    }
 
    .bolinha-topo-meio {
        position: absolute;
        top: 47.5%;
        left: 50%;
    }
    
    .bolinha-topo-esquerda {
        position: absolute;
        top: 47.5%;
        left: 22.5%;
    }
    
    .bolinha-topo-direita {
        position: absolute;
        top: 47.5%;
        right: 18.7%;
    }
    
    .bolinha-esquerda {
        position: absolute;
        top: 47.5%;
        left: 0;
    }
    
    .bolinha-direita {
        position: absolute;
        top: 47.5%;
        right: -3.5%;
    }


    /*------------ HIPERFOCO NO TDAH -----------------*/
    .hiper-tdah-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .hiper-tdah-imagens {
        margin-top: 0px;
        width: 50%;
    }

    .hiper-tdah-texto {
        margin: 0px;
        width: 70%;
    }

    .hiper-tdah-txt {
        width: 100%;
        font-size: 28px;
    }


    /*------------- CARACTERISTICAS ------------------*/
    .card {
        width: 45%;
        height: 250px;
    }

    .titulo-card {
        margin-top: 25px;
        font-size: 34px;
    }

    .txt-card {
        font-size: 21px;
    }


    /*------------------ SOBRE ----------------------*/
    .grid-equipe {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-1 {
        grid-column: 1 / span 3;
        grid-row: auto ;
        background-color: #011125;
        aspect-ratio: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .grid-1 p {
        margin: 20px;
        margin-left: 50px;
        font-size: 135px;
    }

    .grid-1 h3 {
        font-size: 36px;
    }

    .grids {
        aspect-ratio: 1/1;
    }

    .overlay-texto h1 {
        font-size: 26px;
    }

    .overlay-texto p {
        font-size: 24px;
    }


    /*---------------- OQ SOMOS ---------------------*/
    .oq-somos {
        flex-direction: column;
        margin: 0px;
    }

    .oq-somos-texto {
        width: 75%;
    }

    .oq-somos-txt {
        width: 100%;
        font-size: 28px;
    }

    .oq-somos-carrossel {
        margin-top: 15px;
        margin-bottom: 65px;
    }
}



@media only screen and (max-width: 672px) {

    .titulos {
        gap: 10px;
    }

    .txtTitulos {
        font-size: 24px;
    }

    .traco {
        width: 25px;
        border: 2px solid #08678C;
    }

    /*------------------- NAV ---------------------------*/
    .navbar {
        height: 37.5px;
    }

    .nav-logo {
        width: 120px;
        margin-bottom: 10px;
    }

    .nav-menu {
        top: 69px;
        width: 50vw;
        height: 175px;
        padding-top: 15px;
        gap: 20px;
    }

    .nav-link {
        font-size: 19px;
    }


    /*------------------- HERO ---------------------------*/
    .hero {
        border-bottom-left-radius: 75px;
    }

    .hero-container {
        margin-top: 25px;
        flex-direction: column-reverse;
    }

    .hero-boneca {
        width: 75%;
    }

    .hero-forma {
        width: 260px;
        top: 17.5%;
        left: 5%;
    }

    .hero-luna {
        top: 15%;
        left: 15%;
    }

    .hero-logo {
        width: 330px;
    }

    .hero-texto {
        position: relative;
        bottom: 8%;
    }

    .hero-wrapper {
        height: 1500px;
    }


    /*----------------- HIPERFOCO ----------------------*/
    .hiperfoco {
        margin-bottom: 85px;
    }

    .titulo-hiperfoco {
        font-size: 32px;
    }

    .hiperfoco-container {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 15px;
        gap: 15px;
    }

    .slider-imagens {
        width: 90%;
        height: 225px;
    }

    .hiperfoco-texto-container {
        width: 100%;
        height: 265px;
    }
    
    .hiperfoco-texto-cards {
        font-size: 20px;
        width: 95%;
    }


    /*----------------- TDAH ----------------------*/
    .tdah {
        margin-bottom: 80px;
    }

    .tdah-container {
        gap: 20px
    }

    .tdah-texto {
        width: 92.5%;
    }

    .tdah-txt {
        width: 100%;
        font-size: 20px;
    }

    .tdah-carrossel {
        width: 100%;
    }

    .tdah-cards {
        width: 204px;
        height: 220px;
    }


    /*----------------- SINTOMAS ----------------------*/
    .sintomas-titulo {
        margin-left: 0px;
        margin-bottom: 25px;
    }

    .principais-sintomas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin-bottom: 75px;
    }

    .sintomas-wrapper {
        width: 87.5%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .sintoma-1, .sintoma-2, .sintoma-3 {
        padding: 0px 30px;
        grid-column: 1;
        height: 200px;
    }

    .sintoma-1 {
        grid-row: 1;
    }

    .sintoma-2 {
        border-left: 2px solid black;
        grid-row: 2;
    }

    .sintoma-3 {
        width: auto;
        margin: 0px;
        grid-row: 3;
    }

    .sintomas-titulo-3, .sintomas-txt-3 {
        width: 95%;
        margin-left: 10px;
        margin-right: 0px;
    }

    .titulo-sintomas, .sintomas-titulo-3 {
        margin-bottom: 15px;
        font-size: 21px;
    }

    .sintomas-txt, .sintomas-txt-3 {
        font-size: 20px;
    }

    .bolinha {
        width: 0px;
        border: 0px;
    }

    .cima-direita {
        right: 0px;
        top: -202px;
    }


    /*------------ HIPERFOCO NO TDAH -----------------*/
    .hiper-tdah {
        margin-bottom: 75px;
    }

    .hiper-tdah-container {
        gap: 0px;
    }

    .hiper-tdah-texto {
        width: 95%;
    }

    .hiper-tdah-txt {
        font-size: 20px;
    }

    .hiper-tdah-imagens {
        margin: 0px;
        margin-right: 50px;
        width: 70%;
    }

    /*------------- CARACTERISTICAS ------------------*/

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto; 
        margin-top: 15px;
    }

    .card {
        width: 82.5%;
        height: 170px;
        margin-bottom: 25px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .titulo-card {
        margin-top: 15px;
        padding: 0px 35px;
        font-size: 26px;
    }

    .txt-card {
        margin-top: 15px;
        padding: 0px 35px;
        font-size: 18px;
    }


    /*------------------ SOBRE ----------------------*/
    .sobre {
        margin-bottom: 75px;
    }

    .grid-equipe {
        margin: 0px;
    }

    .grid-1 p {
        margin: 10px;
        font-size: 80px;
    }

    .grid-1 h3 {
        font-size: 23px;
    }

    .overlay-texto h1 {
        font-size: 14px;
    }

    .overlay-texto p {
        font-size: 12px;
    }


    /*---------------- OQ SOMOS ---------------------*/
    .oq-somos {
        align-items: start;
    }

    .oq-somos-texto {
        width: 95%;
        margin-left: 17px;
    }

    .oq-somos-txt {
        font-size: 21px;
    }

    .oq-somos-carrossel {
        width: 70%;
    }

    .cards-carrossel {
        height: 250px;
    }

    .next-btn {
        padding: 14px 14px;
    }

    .seta {
        width: 18px;
    }


    /*----------------- FOOTER ----------------------*/
    .footer {
        height: 140px;
    }
    
    .footer-wrapper {
        width: 80%;
    }

    .logo-footer img {
        width: 100px;
    }

    .email-div {
        width: 100px;
        height: 60px;
    }

    .email img {
        width: 25px;
    }

    .email p {
        font-size: 10px;
    }

    .contatos-logos img {
        width: 20px;
    }

    .barra-baixo {
        margin-top: 18px;
    }

    .copyright {
        font-size: 10px;
    }
}

@media only screen and (max-width: 387px) {
    /*----------------- HIPERFOCO ----------------------*/
    .hiperfoco-texto-container {
        height: 285px;
    }


    /*------------ HIPERFOCO NO TDAH -----------------*/
    .hiper-tdah-imagens {
        height: 300px;
    }


    /*------------- CARACTERISTICAS ------------------*/
    .card {
        height: 185px;
    }

    /*------------------ SOBRE ----------------------*/
    .grid-1 p {
      font-size: 78px;
    }
}

@media only screen and (max-width: 355px) {
    /*------------------- HERO --------------------*/
    .hero-logo {
        width: 300px;
    }


    /*----------------- HIPERFOCO ----------------------*/
    .hiperfoco-texto-container {
        height: 300px;
    }


    /*------------ HIPERFOCO NO TDAH -----------------*/
    .hiper-tdah-imagens {
        height: 285px;
    }

    
    /*------------- CARACTERISTICAS ------------------*/
    .card {
        width: 85%;
        height: 190px;
    }

    
    /*------------------ SOBRE ----------------------*/
    .grid-1 p {
        font-size: 72px;
    }
    
    .grid-1 h3 {
        font-size: 22px;
    }


    /*---------------- OQ SOMOS ---------------------*/
    .cards-carrossel {
        height: 225px;
    }
}

@media only screen and (max-width: 320px) {
    /*------------------- HERO --------------------*/
    .hero-logo {
        width: 285px;
    }


    /*----------------- HIPERFOCO ----------------------*/
    .slider-imagens {
        height: 200px;
    }

    .hiperfoco-texto-cards {
        font-size: 19px;
    }


    /*------------------- TDAH --------------------*/
    .tdah-txt {
        font-size: 19px;
    }


    /*----------------- SINTOMAS ----------------------*/
    .sintomas-titulo, .sintomas-titulo-3 {
        font-size: 20px;
    }

    .sintomas-txt, .sintomas-txt-3 {
        font-size: 19px;
    }


    /*------------ HIPERFOCO NO TDAH -----------------*/
    .hiper-tdah-txt {
        font-size: 19px;
    }

    .hiper-tdah-imagens {
        height: 260px;
    }


    /*------------- CARACTERISTICAS ------------------*/
    .card {
         width: 92.5%;
    }

    /*------------------ SOBRE ----------------------*/
    .grid-1 p {
        font-size: 60px;
    }
    
    .grid-1 h3 {
        font-size: 18px;
    }

    /*---------------- OQ SOMOS ---------------------*/
    .oq-somos-txt {
        font-size: 19px;
    }

    .cards-carrossel {
        height: 200px;
    }
}

